.item-add-form {
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__left {
		margin-top: 0.5rem;
		display: flex;
		flex: 1 0 auto;
	}

	&__label {
		@extend .input;
		flex: 1 0 auto;

		&--invalid {
			&:focus {
				color: $black;
				border-color: $red;
				box-shadow: 0 0 0 0.2rem $red50a;
			}

			color: $black;
			border-color: $red;
			box-shadow: 0 0 0 0.2rem $red50a;

		}
	}

	&__right {
		margin-top: 0.5rem;
		margin-left: 0.25rem;
		display: flex;
		align-items: center;
	}

	&__dead-line {
		@extend .input;

		width: 13.5rem;
		padding: 0.3125rem 0.25rem 0.3125rem 0.5rem;
	}

	&__button {
		@extend .button;
		margin-left: 0.25rem;
	}

	@media screen and (max-width: 41rem) {
		&__left {
			flex: 1 0 75%;
		}

		&__right {
			margin-left: 0;
		}

		&__input {
			flex: 1 0 75%;
		}
	}
}
