.item-select-panel {
	&__button-group {
		@extend .button-group;
		display: flex;
		margin-top: 0.5rem;
	}

	&__button {
		@extend .button;
		flex: 1 1 auto;

		&--active {
			@extend .button--active;
		}
	}

	&__button-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__sort-icon {
		margin-left: 0.5rem;
		flex-shrink: 0;
		//color: $white;
	}
}