.search-filter-panel {
	&__row {
		margin-top: 0.5rem;
		display: flex;
		flex-wrap: wrap;
	}

	&__search-panel {
		margin-top: 0.5rem;
		flex: 1 0 auto;
	}

	&__item-status-filter {
		margin-top: 0.5rem;
		margin-left: 0.25rem;
	}

	@media screen and (max-width: 40rem) {
		&__search-panel {
			flex: 1 0 20rem;
		}

		&__item-status-filter {
			flex: 1 1 auto;
			margin-left: 0;
		}
	}
}