@import './nullstyle.scss';
@import './colors.scss';

html, body {
	font-size: 16px;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container {
	width: 100%;
	padding: 2vh 2vw;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex: 1 1 auto;
}

.top-panel {
	margin: 1rem auto;
	display: flex;
}

.input {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $black50a;
	background-color: $white;

	padding: 0.375rem 0.75rem;
	border: 1px solid $lightgrey;
	border-radius: 0.25rem;

	transition:
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	&::placeholder {
		color: $black50a;
		transition: all .15s ease-in-out;
		text-align: start;
	}

	&:hover {
		color: $black75a;
		box-shadow: 0 0 0 0.2rem $lightcyan25a;

		&::placeholder {
			color: $black75a;
			transform: scale(1.025);
		}
	}

	&:focus {
		color: $black;
		background-color: $white;
		border-color: $lightcyan;
		outline: 0;
		box-shadow: 0 0 0 0.2rem $lightcyan25a;

		&::placeholder {
			transform: scale(1);
		}
	}
}

.button {
	padding: 0.375rem 0.75rem;

	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: $black;
	text-align: center;
	vertical-align: middle;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	border-color: $grey;

	transition:
		color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	&:hover {
		color: $white;
		background-color: $grey;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem $grey50a;
	}

	&--active {
		color: $white;
		background-color: $button-active;
		border-color: $button-active;

		&:hover {
			background-color: $button-active-hover;
			border-color: $button-active-hover;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem $lightcyan50a;
		}
	}

	&--size--sm {
		padding: 0.25rem 0.5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: 0.2rem;
	}

	&--outline {
		&--success {
			color: $button-outline-success;
			border-color: $button-outline-success;

			&:hover {
				color: $white;
				background-color: $button-outline-success;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem $button-outline-success-50a;
			}
		}

		&--warning {
			color: $button-outline-warning;
			border-color: $button-outline-warning;

			&:hover {
				color: $black;
				background-color: $button-outline-warning;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem $button-outline-warning-50a;
			}
		}

		&--danger {
			color: $button-outline-danger;
			border-color: $button-outline-danger;

			&:hover {
				color: $white;
				background-color: $button-outline-danger;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem $red50a;
			}
		}
	}
}

.button-group > .button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button-group > .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-group > .button:not(:last-child) {
	border-right: none;
}

.list-group {
	padding-left: 0;
	border-radius: 0.25rem;

	&__item {
		background-color: $white;
		border: 1px solid $lightgrey;
		padding: 0.25rem 0.75rem;

		&:first-child {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
		}

		&:last-child {
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;
		}

		&:not(:first-child) {
			border-top: none;
		}
	}
}

.select {
  @extend .button;

  padding: 0.375rem 0rem 0.375rem 0.75rem;
  color: $lightcyan;
  font-weight: bold;
  border-right: none;

  &:hover {
    color: $white;
  }

	&__list {
		@extend .button, .button--active;

		text-align: left;
		margin-left: 0.75rem;
		height: 2.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-color: $grey;
	}
}

@import 'styles/app.scss';
@import 'styles/error-indicator.scss';
@import 'styles/spinner.scss';
@import 'styles/app-header.scss';
@import 'styles/cat-fact.scss';
@import 'styles/top-menu-container.scss';
@import 'styles/search-panel.scss';
@import 'styles/item-filter-select.scss';
@import 'styles/item-sorting-select.scss';
@import 'styles/item-buttons-menu.scss';
@import 'styles/item-add-form.scss';
@import 'styles/todo-list.scss';
@import 'styles/todo-list-item.scss';
@import 'styles/item-edit-form.scss';