@import './nullstyle.scss';

html, body {
	font-size: 16px;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container {
	width: 100%;
	padding: 0 2vw;
	margin: 0 auto;

	// @media screen and (max-width: ) {

	// }
}

.flex {
	display: flex;
	flex: 1 1 auto;
}

.top-panel {
	margin: 1rem auto;
	display: flex;
}

.input {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #6c757d;

	padding: 0.375rem 0.75rem;
	//height: calc(1.5em + 0.75rem + 2px);
	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	transition:
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	&:focus {
		//color: #495057;
		color: #212529;
		background-color: #fff;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
	}
}

//.button-group {}

.button {
	padding: 0.375rem 0.75rem;

	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	vertical-align: middle;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	border-color: #6c757d;

	transition:
		color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	&:hover {
		color: #fff;
		background-color: #6c757d;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
	}

	&--active {
		color: #fff;
		background-color: #17a2b8;
		border-color: #17a2b8;

		&:hover {
			background-color: #138496;
			border-color: #117a8b;
		}

		&:focus {
			// background-color: #138496;
			// border-color: #117a8b;
			box-shadow: 0 0 0 0.2rem rgb(58 176 195 / 50%);
		}
	}

	&--size--sm {
		padding: 0.25rem 0.5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: 0.2rem;
	}

	&--outline {
		&--success {
			color: #28a745;
			border-color: #28a745;

			&:hover {
				color: #fff;
				background-color: #28a745;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
			}
		}

		&--warning {
			color: #ffc107;
			border-color: #ffc107;

			&:hover {
				color: #212529;
				background-color: #ffc107;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
			}
		}

		&--danger {
			color: #dc3545;
			border-color: #dc3545;

			&:hover {
				color: #fff;
				background-color: #dc3545;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
			}
		}
	}
}

.button-group>.button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button-group>.button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-group>.button:not(:last-child) {
	border-right: none;
}

.list-group {
	padding-left: 0;
	border-radius: 0.25rem;

	&__item {
		background-color: #fff;
		//border: 1px solid rgba(0,0,0,.125);
		border-top: 1px solid rgba(0,0,0,.125);
		border-bottom: 1px solid rgba(0,0,0,.125);
		border-right: 1px solid rgba(0,0,0,.125);
		border-left: 1px solid rgba(0,0,0,.125);
		padding: 0.25rem 0.75rem;

		&:first-child {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
		}

		&:last-child {
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;
		}

		&:not(:first-child) {
			border-top: none;
			// border-bottom: 1px solid rgba(0,0,0,.125);
			// border-right: 1px solid rgba(0,0,0,.125);
			// border-left: 1px solid rgba(0,0,0,.125);
		}
	}


}

@import 'styles/app.scss';
@import 'styles/app-header.scss';
@import 'styles/cat-fact.scss';
@import 'styles/error-indicator.scss';
@import 'styles/item-add-form.scss';
@import 'styles/item-edit-form.scss';
@import 'styles/item-select-panel.scss';
@import 'styles/item-status-filter.scss';
@import 'styles/search-panel.scss';
@import 'styles/spinner.scss';
@import 'styles/todo-list.scss';
@import 'styles/todo-list-item.scss';
@import 'styles/search-and-filter-container.scss';